<%begin%>
<table align="center" class="table table-hover" style="width:800px">
		<thead>
 		<tr>
 			<th>Cource</th>
 			<th>Category</th>
 			<th>Books Issuable</th>
 			<th>Time Period (in days)</th>
 			<th></th>
 		</tr>
 	</thead>
				
			<tbody>
			
<%begin%>
<%@cources.each do |cource|%>
			<tr>
 			<td></td>
 			<td></td>
 			<td></td>
 			<td> </td>
 			<td></td>
 		</tr>
 		
 <%end%>
 
<%rescue Exception=>e%>
<%end%>

</tbody>
</table>

<%rescue Exception=>e%>
<p class="flash-msg" style="margin-left: 160px;"> No books found.Try Again</p>
 <%end%>
 <%= link_to 'Add New',library_management_lirary_card_new_path, remote:true %>