 <span class="reserved-by-h">This book has been reserved by</span>
      <span id="reserved-by" class="themed_text">
          <p>
			 <%=link_to 'Admin User' , library_management_book_issue_select_student_employee_path(@book.book_no) %>
              
            <span class="reserved-time">
              &nbsp;&nbsp;On&nbsp;&nbsp;
             <%=@book.updated_at%>
            </span>
          </p>
        
      </span>