 <span class="reserved-by-h">This book has been reserved by</span>
      <span id="reserved-by" class="themed_text">
          <p>
			 Admin User <!-- give link of issue book -->
              
            <span class="reserved-time">
              &nbsp;&nbsp;On&nbsp;&nbsp;
             <%=@book.updated_at%>
            </span>
          </p>
        
      </span>