<%begin%>
<%@count= @books.count%>
<%if @count>0.to_i%>
<table  align="center" width="980px"  cellpadding="1" cellspacing="1">
		<thead>
 		<tr width="940px" >
 			<th>Book Number</th>
 			<th>Barcode</th>
 			<th>Book Title</th>
 			<th>Author</th>
 		</tr>
 	</thead>
				
			<tbody>
<%begin%>
<%@books.each do |book|%>

			<tr>
 			<td><%=book.book_no%></td>
 			<td><%=book.barcode_no%></td>
 			<td><%=book.title%></td>
 			<td><%=book.author%></td>
 		</tr>
 <%end%>
 
<%rescue Exception=>e%>
<%end%>

</tbody>
</table>
<%else%>
<p class="flash-msg" style="margin-left: 160px;"> No books found.Try Again</p>
<%end%>
<%rescue Exception=>e%>
<p class="flash-msg" style="margin-left: 160px;"> No books found.Try Again</p>
 <%end%>