
<%unless @tags.nil? %>
<table align="center" class="table table-hover" style="width:800px">
    <thead>
  	<tr>
  		<th> Sr.No</th>
  		<th>Tags </th>
  		<th></th>
      <th></th>
      
  	</tr>
    </thead>
    <tbody>

  	<% @tags.each_with_index do |tag,i|%>
  	 <tr>
  	 	<td><%=i+1 %></td>
  	 	<td id="edit"><%= link_to tag.name,tags_edit_tag_path(tag),remote:true%></td>
  	 	<td><%= link_to "Tagged Book",tags_tag_related_book_path(tag)%></td>
      <td><%= link_to "Delete",tags_delete_tag_path(tag),method: :delete,data:{confirm:'Are you sure?'},remote:true%></td>
  	 </tr>
  	<%end%>
    </tbody>
  	</table>
<%else%>
<p class="flash-msg" style="margin-left: 160px;"> No tags found.</p>
<%end%>
